body {
    padding: 0px 0px;
    margin: 0px;
    border: 0px;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #efeee7;
    background-image: url("../images/background.png");
  }

  header {
    margin: 0px;
    padding: 40px;
    padding-bottom: 60px;
    background-color: white;
    border-bottom: 10px solid rgb(1, 1, 31);
  }

  .nav {
    width: 990px;
    margin: 0 auto;
    position: relative;
  }

    .index,
    .portfolio,
    .contact {
        float: right;
    }
    .index {
        padding-right: 30px;
        border-right: lightblue 1px solid;
    }

    .portfolio {
        padding: 0px 30px;
        border-right: lightblue 1px solid;
    }

    .contact {
        padding-left: 30px;
    }

    


  .header {
      position: fixed;
      top: 0;
      margin: 0px;
      padding: 36.5px 20px;
      float: left;
      color: whitesmoke;
      background-color: rgb(0, 0, 39);
  }

  #index {
    padding-right: 30px;
  }

  #portfolio {
      
  }

  #about {
    padding-left: 30px;
      
  }


  .content-area {
      margin: 0 auto;
      padding: 10px;   
      width: 960px;
      position: relative;
      background-color: whitesmoke;
  }

  img {
    float: left;
    margin-right: 20px;
}

  #break {
    margin: 100px;
  }

  footer {
      background: #efeee7;
      height: 80px;
      padding: 10px;
      border-top: 10px solid rgb(1, 1, 31);
      width: 100%;
  }


