body {
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  font-size: 18px;
  line-height: 150%;
  background: #efeee7;
  background-image: url("../images/background.png");
}

header {
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 100px;
  background-color: white;
  border-bottom: 10px solid rgb(1, 1, 31);
}

.nav {
  width: 990px;
  margin: 0 auto;
  position: relative;
}

.index,
.portfolio,
.contact {
  float: right;
}

.index {
  padding-right: 30px;
  margin-top: 40px;
  border-right: lightblue 1px solid;
  color: #333333;
}

.portfolio {
  padding: 0px 30px;
  margin-top: 40px;
  border-right: lightblue 1px solid;
}

.contact {
  padding-left: 30px;
  margin-top: 40px;
}

.header {
  top: 0;
  margin: 0px;
  padding: 36.5px;
  float: left;
  color: whitesmoke;
  background-color: rgb(0, 0, 39);
}

#index {
  padding-right: 30px;
}

#about {
  padding-left: 30px;
  
}

.content-area {
  margin: 0 auto;
  overflow: hidden;
  padding: 10px;
  width: 960px;
  background-color: whitesmoke;
}

img {
  float: left;
  margin-right: 20px;
}

#break {
  margin: 100px;
}

footer {
  background: #efeee7;
  height: 60px;
  padding: 10px;
  border-top: 10px solid rgb(1, 1, 31);
  width: 100%;
  float: bottom;
  bottom: 0;
}

/* CSS code for portfolio.html */
/* .container Images with text */
.container {
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 40px;
  float: left;
  font-size: 30px;
  text-align: center;
  color: white;
}

/* Text on image */
.centered {
  position: absolute;  
  margin: 145px 0px;
  padding: 20px 0;
  width: 300px;
  background-color: rgb(1, 1, 31);
}

/* CSS for contact.html */

#name {
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

#email {
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

#message {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

/* Style the submit button with background color */
input[type=submit] {
  background-color: rgb(1, 1, 31);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: rgb(81, 81, 238);
  transition: 0.5s;
}


